body, html {
	margin:0;
	padding: 0;
	font-family: "思源黑体 CN Light", "Hiragino Sans GB", "microsoft yahei", "WenQuanYi Microhei", "黑体";
	margin: 0;
	padding: 0;
	/*
	background-image: url(../bg.png);
	background-repeat: no-repeat;
	background-position: right bottom;
	*/
}
footer{
	margin-top: 64px;
	width: 100%;
}

ins {
	text-decoration: line-through;
	opacity: 0.5;
}
#list a {
	color: #009999;
	text-decoration: blink;
}
#article {
	font-family: "Calibri", "华文仿宋", "microsoft yahei", "WenQuanYi Microhei", "黑体";
	font-size: 24px;
	font-weight: 200;
	color: #1f0f1f;
}
#article pre{
	padding: 1em;
	border-radius: 0.5em;
	background-color: #101010;
	color: #CCC;
	overflow: auto;
	max-height: 500px;
	font-family: Consolas;
	/*font-size: small;*/
	font-size: 16px;
}
#article pre::selection {
	background: rgba(200, 255, 255, 0.15);
	transition: background 2s;
	-moz-transition: background 2s;	/* Firefox 4 */
	-webkit-transition: background 2s;	/* Safari 和 Chrome */
	-o-transition: background 2s;	/* Opera */
}
#article pre::selection:window-inactive {
	background: rgba(255, 255, 255, 0.15);
}

/*  Markdown 相关 */
#article .footnotes{
	font-family: sans-serif, "宋体";
	font-size: small;
	color:rgba(31, 15, 31, 0.618)
}
#article .footnotes ol{
	margin: 0;
}
#article .footnotes hr{
	/* height: 100px; */
	border-color: rgba(255, 255, 255, 0.182);
	/* display: none; */
	margin: 16px 0 16px 0;
}
a.footnote{vertical-align: super; font-family: serif;}
a.footnote:link,a.footnote:visited{color:#999;text-decoration:none;}

ul{
	list-style-position: inside;
	margin-top: 0.5em;
	color: #1f0f1f;
}

code {
	white-space: pre-wrap;
	font-family: Courier, "Hiragino Sans GB", "microsoft yahei", "WenQuanYi Microhei", "黑体";
	border: solid 1px #AAA;
	margin-top: 0px;
	margin-left: 2px;
	margin-right: 2px;

	padding-top: 2px;
	padding-left: 4px;
	padding-right: 4px;

	border-radius: 2px;
}

pre.prettyprint code{
	font-family: Consolas, "宋体";
	border: 0px;
	padding: 0;
	margin: 0;
}
#article pre code {
	/* border-bottom-width: 0; */
	/* border-bottom-color: transparent; */
	margin: 0;
	padding: 0;
	border-width: 0;
}
#article.content blockquote {
	border-left-color: #1f0f1f; */
	/* border-left-style: solid; */
	/* border-left-width: 8px; */
	margin-left: 0px;
	padding-left: 2em;
	font-family: Gabriola, 华文仿宋;
	font-style: italic;
	border-bottom-left-radius: calc( 100% * 0.382 );
	border-color: rgba(31, 15, 31, 0.24);
	border-left-style: solid;
	border-left-width: 1px;
	border-top-left-radius: calc( 100% * 0.618 );
	/* border-bottom-width: 8px; */
	/* border-bottom-style: inset; */
	/* border-bottom-right-radius: 450px; */
}

p{
	font-size: 1em;
	line-height: 1.7em;
	/*
	margin-top: 1.7em;
	margin-bottom: 0.0em;
	*/
	text-align: justify;
	text-justify: inter-ideographic;
}
h1,h2,h3,h4,h5,h6{
	font-family: "方正姚体";
	font-weight: lighter;
	line-height: 1em;
	margin-top: 1em;
	margin-bottom: 0.5em;
}
h1{
	font-size: 1.8em;
}
h2{
	font-size: 1.6em;
}
h3{
	font-size: 1.5em;
}
h4{
	font-size:1.4em;
}
h5{
	font-size:1.3em;
}
h6{
	font-size:1.30em;
}



/* 设置滚动条的样式 */
::-webkit-scrollbar {
	width: 8px;
}

::-webkit-scrollbar:horizontal {
	height: 8px;
}
/* 滚动槽 */
::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 0px rgba(0,0,0,0.3);
	border-radius: 10px;
}

/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
	border-radius: 0px;
	background-color: rgba(103,137,171,0.618);
}
::-webkit-scrollbar-thumb:hover {
	background-color: rgba(255,0,0,0.4);
	-webkit-box-shadow: inset 0 0 64px rgba(64,0,0,0.618);

}

::-webkit-scrollbar-thumb:window-inactive {
	background-color: rgba(255,0,0,0.4);
}

::selection {
	background: rgba(200, 2, 255, 0.15);
	transition: background 2s;
	-moz-transition: background 2s;	/* Firefox 4 */
	-webkit-transition: background 2s;	/* Safari 和 Chrome */
	-o-transition: background 2s;	/* Opera */
}
::selection:window-inactive {
	background: rgba(50, 0, 105, 0.15);
}

#inprogress{
	display: none;
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	cursor: wait;
}
#class {
	list-style-type: none;
	height: 32px;
}
#class li {
	float: left;
	padding-left: 1em;
	padding-right: 1em;
}
#class a:link{
	color: grey;
	text-decoration: none;
}
#class a:visited{
	color: grey;
	text-decoration: none;
}
#class a:hover{
	color: #009999;
	text-decoration: underline;
}

#list li{
	list-style-type: none;
	font-size: 3em;	/*xx-large;*/
	font-weight: lighter;
	position: relative;
	margin-top: 0.5em;
	margin-left: 0px;
}
#list li:hover{

}
#list li div.link{
	transition:			list-style-type 0.382s, opacity 0.382s, margin-left 0.382s, margin-right 0.382s;
	-moz-transition:	list-style-type 0.382s, opacity 0.382s, margin-left 0.382s, margin-right 0.382s;
	-webkit-transition:	list-style-type 0.382s, opacity 0.382s, margin-left 0.382s, margin-right 0.382s;
	-o-transition:		list-style-type 0.382s, opacity 0.382s, margin-left 0.382s, margin-right 0.382s;
}
#list li div.link:hover{
	margin-left: -9px;
	margin-right: 9px;
}

#list a {
	color: darkred;
}
#list .datetime{
	font-size: xx-small;
	display: block;
	position: absolute;
	/* top: 0px; */
	left: 480px;
	bottom: 0px;
}

#main{
	width:100%;
	padding:0px;
	margin: 48px auto;
}
#main header {
	/*
	font-size: 48px;
	text-align: center;
	border-bottom-style: dotted;
	border-width: thin;
	border-bottom-color: rgba(0, 153, 153, 0.5);
	*/
}
#main header h1{
	width: 100%; */
	font-size: 48px;
	text-align: center;
	/* border-bottom-style: inset; */
	border-width: 5;
	/* border-color: rgba(139, 0, 0, 0.5); */
	margin-bottom: 0px;
	font-family: "方正姚体", "黑体";
	font-size: 64px;
	color: darkred;
	padding-bottom: 0;
	display: table;
	margin: auto auto auto auto;
	/* border-bottom-left-radius: 20px; */
	/* border-left-style: inset; */
	/* border-top-left-radius: 61.8px; */
	/* border-bottom: inset; */
	border-bottom-right-radius: 61.8px;
	border-top-right-radius: 20px;
	border-color: rgba(139, 0, 0, 0.5);
	transition: border-bottom-left-radius 0.618s, border-top-right-radius 0.618s;
}
#main header h1:hover{
	border-bottom-left-radius: 38.2px;
	border-top-right-radius: 38.2px;
}
#time{
	text-align: right;
	font-size: xx-small;
}
#time ins{
	opacity: 0.618;
	color: grey;
}
#time time{
	text-align: right;
	font-size: small;
	color: rgba(200, 156, 128, 1);
	display: block;
}
#taglist {
	display: inline-block;
	margin-top: 48px;
	font-style: italic;
}
#taglist li{
	/* display: inline-block; */
	display: inline-block;
}
#taglist a{
	color: rgba(39,153,153,0.618);
	text-decoration: blink;
	transition: color 0.618s;
}
#taglist a:hover{
	color: #FF7720;
}

#taglist li::after{
	content: "、";
}

#taglist li:nth-last-child(1)::after{
	content: "";
}


#sidebar{

}


/* 多说CSS */
.ds-meta{
	display: none;
}
#ds-thread #ds-reset li.ds-tab{
}
#ds-thread #ds-reset li.ds-tab a.ds-current{
	border: 0px !important;
	background-color: transparent !important;
}
