/* 主页文章列表 */
ul#list{
	list-style-position: inside;
	margin-top: 0.5em;
	margin-bottom: 2.5em;
	margin: 0;
	padding: 0;
	width: 800px;
	margin: 64px auto;
}
#list li{
	list-style-type: none;
	font-size: 3em;
	font-weight: lighter;
	position: relative;
	margin: 0px;
	margin-top: 0px;
	margin-bottom: 48px;
	text-align: center;
}
#list li:hover{

}
#list li div.link{
	transition:			list-style-type 0.382s, opacity 0.382s, margin-top 0.382s, margin-bottom 0.382s;
	-moz-transition:	list-style-type 0.382s, opacity 0.382s, margin-top 0.382s, margin-bottom 0.382s;
	-webkit-transition:	list-style-type 0.382s, opacity 0.382s, margin-top 0.382s, margin-bottom 0.382s;
	-o-transition:		list-style-type 0.382s, opacity 0.382s, margin-top 0.382s, margin-bottom 0.382s;
}
#list li div.link:hover{}
#list a {
	font-family: 'Courier', 'Hiragino Sans GB', 'Microsoft JhengHei', 'WenQuanYi Microhei', '黑体';
	color: rgb(59, 59, 70);
	font-weight: 200;

	text-decoration: blink;
	text-shadow: rgba(27, 29, 82, 0.13) 0px 0px 5px;
}
#list .datetime{
	display: block;
	font-size: small;
	font-family: Courier;
	font-weight: bold;
	color: rgba(0, 0, 0, 0.618);
}
#list .summary{
	font-size: medium;
}

#page, #page .pagecode, #page .current, #page .current .code{
	display: flex;
	display: -webkit-flex;

	align-items: center;
	justify-content: center;
	-webkit-align-items: center;
	-webkit-justify-content: center;

	background: transparent;
	font-family: Arial;

	color: azure;
}

#page .pagecode:not(.current):hover{
	box-shadow: 0px 0px 16px grey;
}
#page .pagecode:not(.current){
	background-color: rgb(59, 59, 70);
	transition: box-shadow .382s, background-color .382s;
}

#page .pagecode {
	position: relative;

	width: 48px;
	height: 48px;

	border-radius: 999px;
}
/* 页码的间距 */
#page .pagecode{
	margin: 0px 24px 0px 0px;
}
#page .pagecode:last-of-type{
	margin: 0 !important;
}


@keyframes pagebgrotate{
	from {transform: rotate(0deg);}
	to {transform: rotate(360deg);}
}
#page .bg:hover{
	animation-play-state: running;
}
#page .bg{
	position: absolute;
	top: 0;
	left: 0;

	border-radius: 100vw;
	border: 3px dotted rgba(59, 59, 70, .618);
	width: calc(100% - 3px * 2);
	height: calc(100% - 3px * 2);

	animation:pagebgrotate 5s infinite;
	animation-timing-function: linear;

	animation-play-state: paused;
}
#page .current .code{
	color: rgba(59, 59, 70, .618);
}

#page a:visited, #page a:link, #page a:hover{
	text-decoration: none;
	color: azure;
	border: 0;
}
