#main{
	width: 100%;
}
#duoshuo{
	width: 100%;
}

ul#list{
	width: 100%;
}
#list li{
	font-size: 2em;	/*xx-large;*/
	font-weight: lighter;
	position: relative;
	margin-top: 0.5em;
	margin-left: 0px;

	padding-left: 0.5em;
	padding-right: 0.5em;
	width: calc( 100% - 1em );
}
#list .summary{
	word-wrap: break-word;
	text-align: justify;
}
#list .datetime{
	font-size: xx-small;
	display: block;
	position: static;
	/* top: 0px; */
	right: 0px;
	bottom: 0px;
}
#main header{
	margin-top: 96px;
	margin-bottom: 128px;
}
#main header h1{
	font-size: x-large;
}
#main #time{
	margin-top: 32px;
}
article#article{
	padding-left: 1em;
	padding-right: 1em;
	font-family: "Hiragino Sans GB", "microsoft yahei", "WenQuanYi Microhei", "黑体";
	font-size: medium;
	width: calc( 100% - 2em);

}
#article.content blockquote {
	padding: 0;
	margin: auto 0 auto 0.5em;
}
#article .footnote{

}
#taglist{
	width: 100%;
}
#selectpage a{
	width: 8px;
	padding: 5.5px 12px 5.5px 12px;
	/* padding: 14px 16.5px 14px 16.5px; */
	text-align: center;
}
