<!doctype HTML>
<html>
<head>
	<meta http-equiv="content-type" content="text/html" charset="utf-8" />
	<title>Pache-admin</title>

	<link rel="stylesheet" href="/admin-style/global.css"></link>


	<script type="application/javascript" src="/script/jquery-3.1.0.js" def></script>
	<script type="application/javascript" src="/script/taboverride.min.js" def></script>

</head>
<body>
<nav id="menu">
	<div>删除</div>
	<div>创建文章</div>
</nav>
<ul id="articles">

</ul>
<div id="editor">
	<form>
		<input name="title" placeholder="标题" />
		<textarea  name="article" placeholder="千里之行始于足下"></textarea>
	</form>
</div>
<script type="application/javascript" src="/admin-script/admin.js" def></script>
</body>
</html>
