body, html{
	margin: 0;
	padding: 0;
	width: 100%;
}
button:hover{
	border-color: transparent;
	background-color: brown !important;
	color: #fff;
	box-shadow: 0px 0px 2px brown;
}

button{
	outline: none;
	border: none;

	background-color: white;

	border-color: transparent;
	border-style: solid;
	border-width: thin;

	font-family: "黑体", Arial;
	font-size: 1em;

	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 8px;
	padding-right: 8px;

	box-shadow: 0px 0px 1px black;

	transition: box-shadow 0.618s, border-color 0.618s, background-color 0.618s, color 0.618s;
}

#articlelist {
	display: flex;
	flex-direction: column;

	margin: 20px auto;

	width: 960px;
}

#articlelist ul.list{
	display: flex;
	flex-direction: column;
	padding: 0;
	margin: 0;
}
#articlelist ul.list > li{
	margin-top: 5px;
	margin-bottom: 5px;

	display: flex;
	flex-direction: row;
	align-items: center;
}

#articlelist .list input[type="checkbox"]{

}
#articlelist .list .class:focus{
	outline: none;
	margin-right: 10px;
	padding-left: 0px;
	border-left-color: transparent;
	border-bottom-color: brown;
}
#articlelist .list .class{
	border: none;
	border-left-color: brown;
	border-left-style: solid;
	border-left-width: medium;

	border-bottom-color: transparent;
	border-bottom-style: solid;
	border-bottom-width: thin;

	padding-left: 10px;

	width: 64px;

	transition: margin-right 0.618s, padding-left 0.618s, border-left-color 0.618s, border-bottom-color 0.618s;
	transition-timing-function: cubic-bezier(0.38, 0.68, 0.38, 0.68);
}

#articlelist ul.list .title {
	display: flex;
	flex-direction: column;
	height: 48px;
	/* align-content: center; */
	justify-content: center;
}
#articlelist ul .title .title-name:hover{
	/*text-shadow: 0px 0px 1px black;*/
}
#articlelist ul .title .title-name{
	display: inline-flex;
	margin: 0;
	margin-left: 10px;
	padding: 0;

	cursor: pointer;
	font-size: 1.5em;
	font-family: 'Hiragino Sans GB', DengXian, 'WenQuanYi Microhei', 'Microsoft yahei light', 黑体;
	font-weight: 500;
	font-size: x-large;
	text-decoration: none;

	transition: color 0.618s, text-shadow 0.618s;
}
#articlelist ul .title ul.tag:hover{
	color: black;
}
#articlelist ul .title ul.tag{
	display: flex;
	margin: 0;
	padding: 0;

	list-style: none;

	font-size: small;
	font-family: Arial;

	color: rgba(0,0,0, 0.618);
	transition: color 0.618s;
}
#articlelist ul .title ul.tag li::after{
	/*content: ", ";*/
	cursor: auto;
}
#articlelist ul .title ul.tag li:hover{
	border-bottom-color: brown;
}
#articlelist ul .title ul.tag li{
	border: none;

	cursor: pointer;

	margin-right: 5px;

	border-bottom-color: transparent;
	border-bottom-style: solid;
	border-bottom-width: thin;
	transition: border-bottom-color 0.618s;
}

#articlelist ul .title ul.tag li:nth-last-child(1)::after{
	content: "";
	margin-right: 0px;
}

#articlelist .control{
	display: flex;
}
.pageselect {
	display: flex;
	justify-content: space-around;

	width: 128px;
}
.pageselect .pagebutton{
	width: 64px;
	text-align: center;
}
.pageselect .pagelink{
	display: flex;
	align-content: center;
	align-items: center;

	padding: 0;
	margin: 0;
	list-style-type: none;
}
.pageselect .pagelink > li {
	display: flex;
	align-items: center;

	margin-left: 2.5px;
	margin-right: 2.5px;
}
.pageselect .pagelink > li a{
	font-family: Arial;
	cursor: pointer;
}
.pageselect .pagelink > li a.current{
	cursor:auto;
	color: #C3C3C3;
}

#editor{
	position: fixed;
	top: 0px;
	left: 0px;
	display: flex;
	justify-content: center;
	width: 100%;
	height: 100%;
	background: white;
	/* transition: transform 0.618s, opacity 0.618s; */
	/* transition-timing-function: cubic-bezier(0.45, 0.54, 0.57, 0.4); */
	transform: scale(1.2);
	transition: transform 0.618s, opacity 0.618s;

	background: white;
}
#editor *{
	background-color: transparent;
}

#editor .edit-area{
	width: 640px;
	height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
}
#editor .edit-area *{
	border: none;
	overflow: hidden;
}
#editor [name="title"]:focus{
	outline: none;
}
#editor [name="title"]{
	display: block;
	width: 640px;
	margin: auto;

	font-size: 2em;
	text-align: center;

	border-bottom-style: solid;
	border-bottom-width: thin;
	border-bottom-color: rgba(255,255,255, 0.5);

	height: 64px;
}

#editor [name="content"]:focus{
	outline: none;
}
#editor [name="content"]{
	display: block;
	width: inherit;
	margin: auto;

	font-size: 1em;
	text-align: left;

	border-left-style: dotted;
	border-left-color: brown;
	border-left-width: thin;

	resize: none;
}
::-webkit-scrollbar {
	width: 6px;
	height: 8px;
}
::-webkit-scrollbar-thumb {
	height: 40px;
	border-radius: 2px;
	box-shadow: 0px 0px 2px brown;
	background: brown;
	transition: background 0.618s;
}
::-webkit-scrollbar-thumb:hover{
	background: brown;
}

#editor .update{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;
	align-self: auto;

	height: 50%;

	margin: 0px 20px 0px 20px;
}
#editor .update *{
}

#editor .tag-selector .closeTag:hover{
	font-family: Arial;

	transform: rotate(180deg);
}
#editor .tag-selector .closeTag{
	font-family: Arial;

	transition: transform 0.618s;
}

#editor .update .tag-selector{
	list-style-type: circle;
	padding: 0;
}
#editor .update .tag-selector li{
	margin: 5px 0px 5px 0px;
	font-size: small;
	font-family: Arial;
}
#editor .update .tag .tag-add input{
	border: none;
	border-bottom-color: #ADADAD;
	border-bottom-style: solid;
	border-bottom-width: thin;

	font-size: 16px;
}
#editor .update .tag .tag-add .tag-add-button{
	border: none;
	box-shadow: 0px 0px 0px transparent;
	cursor: pointer;

	background: transparent !important;

	font-size: 24px;
	color: #ADADAD;
	padding: 0;
	transition: transform 0.618s, color 0.618s;
}
#editor .update .tag .tag-add .tag-add-button:hover{
	transform: rotate(-90deg);
	color: brown;
}
#editor .update .tag .tag-add input{
	outline: none;
}

#editor .class{
	border-color: brown;
	border-left-style: solid;
	border-left-width: medium;
}
#editor [name="class"]{
	border: none;
	outline: none;
	padding-left: 10px;
}
